@import "tailwindcss";

@font-face {
    font-family: "AgrandirG";
    src: url("./assets/fonts/Agrandir-GrandHeavy.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TAN";
    src: url("./assets/fonts/Tan-font.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

body{
    @apply bg-[#19171A];
}

.agrandir {
    font-family: "AgrandirG", sans-serif;
}

.tan{
    font-family: "TAN", sans-serif;
}

.glass-effect{
   background: rgb(25, 23, 26, 0.6);
   backdrop-filter: blur(12px) saturate(180%);
   -webkit-backdrop-filter: blur(12px) saturate(180%);
   border-bottom: 1px solid #f2eee269;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.nav-link{
    @apply text-lg text-[#F2EEE2] rounded-2xl hover:bg-[#d0cdc360] hover:text-[#f7f6f4] hover:shadow-[0_8px_10px_rgba(0,0,0,0.4)] transition;
}

.button{
    @apply z-10 text-[17px] rounded-lg border-1 border-[#F2EEE2] px-11 py-1.5 bg-[#f2eee253] text-[#F2EEE2] hover:bg-[#f2eee26b]
}